<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlNoDataSourceInspection, SqlResolve -->
<mapper namespace="cn.devifish.cloud.admin.server.mapper.DeptMapper">

    <select id="countDeptByParentId" resultType="java.lang.Integer">
        SELECT
            count(0)
        FROM
            sys_dept AS d
        WHERE
            d.parent_id = #{id}
            AND d.delete_flag != 1
    </select>

    <select id="findAllChildId" resultType="java.lang.Integer">
        SELECT id
        FROM (
                 SELECT t1.id, IF(FIND_IN_SET(parent_id, @pids) > 0, @pids := CONCAT(@pids, ',', id), 0) AS ischild
                 FROM (
                          SELECT id, parent_id
                          FROM sys_dept t
                          WHERE t.delete_flag != 1
                          ORDER BY parent_id, id
                      ) t1,
                      (
                          SELECT @pids := #{id}
                      ) t2
             ) t3
        WHERE ischild != 0
    </select>


</mapper>